* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.back-imeg {
    width: 100%;
    height: 93vh;
    background-image: url("/project-files/assets/img/zvezdnoe_nebo_nebo_zvezdy_211853_1280x720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper > .wrapper__title {
    text-align: center;
}

.wrapper__title-SW {
	font-size: 50px;
	text-align: center;
	text-shadow: -2px -2px 0 #ff6, 2px -2px 0 #ff6, 0px 5px 0 #ff6, 2px 2px 0 #ff6;
    font-family: "Droid Sans", arial, verdana, sans-serif;
}

.wrapper__title-R {
    font-size: 20px;
    /* color: white; */
    text-shadow: -1px -1px 0 #ff6, 1px -1px 0 #ff6, 0px 3px 0 #ff6, 1px 1px 0 #ff6;
    font-family: "Droid Sans", arial, verdana, sans-serif;
}

.wrapper > .wrapper__paragraf {
    color: #ff6;
    font-family: "Droid Sans", arial, verdana, sans-serif;
    margin: 10px;
}

.button {
    width: 120px;
    height: 30px;
    margin: 20px;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    border-radius: 0.6em;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 1px #3498db;
}

.block-iodine {
    max-width: 250px;
}

.block-iodine__imeg {
    width: 100%;
    height: 100%;
}

.block-iodine__imeg.active {
    width: 100%;
    height: 100%;
    animation-duration: 0.2s;
    animation-name: flex;
}

@keyframes flex {
    0% {
        margin-left: -5px;
        
    }

    50% {
        margin-left: 5px;
    }

    100% {
        margin-left: -5px;
    }
}

.btn {
    box-sizing: border-box;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

.btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }

.wrapper > .wrapper__btn {
    margin: 15px;
    width: 250px;
    height: 50px;
    font-family: "Droid Sans", arial, verdana, sans-serif;
    outline: none;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    transition: all 150ms ease-in-out;
}

.wrapper > .wrapper__btn:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 7px #3498db;
}

footer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    background-color: black;
    box-shadow:  0 0 10px 7px #3498db;
}

.size-span {
    color: white;
    font-size: 16px;
}

.padding {
    padding: 0px 15px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}